# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# If you're using Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.log

# Ignore local .env but NOT .env.dev
.env
!.env.dev

# Secrets and config
secrets.json

# VS Code / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
*.bak
*.tar
*.tar.gz
*.tgz

# Virtualenv
venv/
ENV/
env/
.env/
.venv/

# Coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.coverage

# Jupyter Notebooks
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Build files
build/
dist/
*.egg-info/
.eggs/

# Pip
pip-log.txt

# Celery beat
celerybeat-schedule
